LOG_LEVEL=debug

# Docker/Backend Postgres
DB_USERNAME=postgres
DB_PASSWORD=ahcFLqRMtvd9fi7mV3kVMyEvbLizTb
DB_DATABASE=unused

ML_AUTH_DB_URL=postgres://postgres:ahcFLqRMtvd9fi7mV3kVMyEvbLizTb@postgresd:5432/auth?sslmode=disable
ML_GAMEDB_DB_URL=postgres://postgres:ahcFLqRMtvd9fi7mV3kVMyEvbLizTb@postgresd:5432/gamedb?sslmode=disable
ML_SETTINGS_DB_URL=postgres://postgres:ahcFLqRMtvd9fi7mV3kVMyEvbLizTb@postgresd:5432/settings?sslmode=disable

# PgAdmin4 
# Available on http://localhost:8086
PGADMIN_DEFAULT_EMAIL=db@example.com
PGADMIN_DEFAULT_PASSWORD=Pxo7p3rbxqCvjJmwW7epkPnkh3RtY3

# https://github.com/go-micro/dashboard
# Available on http://localhost:8082
DASHBOARD_USER=admin
DASHBOARD_PASSWORD=Pxo7p3rbxqCvjJmwW7epkPnkh3RtY3

# Use docker-compose run authsql microauthsqld --generate-keys
# go.micro.auth ed25519 JWT keys - generated using '/usr/local/bin/microauthsqld --generate-keys'
AUTH_ACCESSTOKEN_PRIVKEY="/cfA2wB7Qy1e2NEutW3fD2c3y/wb5yqc738BQa4/E7403Dk1CMtV4AbZHXsTPzyjuIEg4qV15IQSL6iQyuI6zg=="
AUTH_ACCESSTOKEN_PUBKEY="NNw5NQjLVeAG2R17Ez88o7iBIOKldeSEEi+okMriOs4="
AUTH_REFRESHTOKEN_PRIVKEY="uSxl/zzXXLa/pA9/O34OJlvgztt+t427h4V8Vkp0Zw66MSgF1pDtozN+m2RlxmFLsjtzrenq9uisMbyTFDH/fQ=="
AUTH_REFRESHTOKEN_PUBKEY="ujEoBdaQ7aMzfptkZcZhS7I7c63p6vborDG8kxQx/30="


#################################################
# Restart Containers?
#################################################
DOCKER_RESTART=unless-stopped


#################################################
# Docker Registry
#################################################
DOCKER_IO=docker.io
DOCKER_ORG_JO_MICRO=docker.io/jomicro
DOCKER_ORG_WARZONE=docker.io/warzone2100


#################################################
# Postgresd Version
#################################################
POSTGRES_TAG=14.5-alpine


#################################################
# Build related - not used in Production
#################################################
# This folder will be mounted with exact the same path into the container, we will use realpath on the os for it to expand the path
# this is usefull for custom replaces for example
BUILD_MOUNT_FOLDER="~"